<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
<title>Wendell Redemption App</title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/loading.css" />
<link rel="stylesheet" href="/css/stocks.css" />
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/nwd.css" />
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/js/stocks.js"></script>
